doctype html
html(lang="es")
  head
    title Seleccionar Especialidad
  body
    h1 Selecciona una Especialidad

    if especialidades.length > 0
      form(action="/especialidades" method="POST")
        label(for="especialidad") Selecciona una especialidad:
        select(name="especialidad" id="especialidad")
          each especialidad in especialidades
            option(value=especialidad.id) #{especialidad.nombre}


    else
      p No hay especialidades disponibles.
