doctype html
html
    head
        title Iniciar Sesión
        link(rel='stylesheet', href='./css/login.css')
    body
        .login-container
            .container
                .title-container
                    h1 INICIAR SESIÓN
                form(action='/login', method='POST')
                    .form-group
                        input(type='text', name='usuario', id='usuario', placeholder='Ingrese su usuario' required)
                    .form-group
                        input(type='password', name='contrasenia', id='contrasenia', placeholder='Ingrese su contraseña' required)
                    // Mostrar mensaje de error si existe
                    if errorMessage
                        .error-message= errorMessage
                    .button-container
                        button(type='submit') Iniciar Sesión
                p.text-center
                    | No tengo cuenta 
                    a(href='/register') registrarme