/* Estilos del sidebar */
#sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70px; /* Ancho mínimo del sidebar */
    min-width: 70px;
    z-index: 1000;
    transition: width 0.25s ease-in-out, background-color 0.25s ease-in-out;
    background-color: rgba(52, 6, 91, 0.817);
    box-shadow: 2px 0 10px rgba(50, 49, 49, 0.265);
}

/* Estilos del botón de toggle */
.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
    color: #FFF;
}

/* Icono del botón */
.toggle-btn i {
    font-size: 1.5rem;
}

/* Estilo del logo */
.logo {
    width: 150px; /* Ajusta el ancho según lo necesites */
    height: auto; /* Mantiene la proporción */
}

/* Logo del sidebar */
.sidebar-logo {
    display: flex;
    justify-content: center; /* Centra horizontalmente el logo */
    align-items: center; /* Centra verticalmente el logo */
    margin: 10px 0; /* Ajusta el margen superior e inferior */
    width: 100%; /* Asegúrate de que ocupe todo el ancho del sidebar */
}

/* Navegación del sidebar */
.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

/* Estilos de los enlaces del sidebar */
a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    text-decoration: none; /* Eliminar subrayado */
}

/* Iconos de los enlaces */
.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

/* Estado activo */
.sidebar-link.active {
    background-color: rgba(95, 89, 32, 0.1);
    border-left: 3px solid #3b7ddd;
}

/* Efecto hover en los enlaces */
a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

/* Ocultar texto de los enlaces si no está expandido */
#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

/* Mostrar texto en estado expandido */
#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    display: block;
}

/* Cambia el comportamiento del sidebar al hacer hover */
#sidebar:hover {
    width: 200px; /* Ancho expandido al hacer hover */
}

#sidebar:hover .sidebar-logo,
#sidebar:hover a.sidebar-link span {
    display: block;
}

/* Estilos del pie de página */
.sidebar-footer {
    margin-top: auto; /* Empuja el pie de página hacia el fondo del sidebar */
}

/* Ajustes adicionales */
.sidebar-logo {
    display: flex; /* Asegura que se mantenga como flexbox */
    margin-left: 50px;
}

