@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #fafbfe;
    color: #333; /* Color de texto más oscuro para mejor legibilidad */
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s; /* Transición suave para el color del enlace */
}

a:hover {
    text-decoration: underline;
    color: #0056b3; /* Color más oscuro al pasar el mouse */
}

/* Estilos del layout */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Padding opcional */
    width: 100%; /* Ancho del 100% */
    max-width: 1200px; /* Ajusta este valor según lo necesites */
}

/* Estilos de las tarjetas */
.card {
    border: none; 
    border-radius: 15px; 
    background-color: #ffffff; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer; 
    transition: box-shadow 0.2s ease; /* Solo sombra en la transición */
}

.card:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Sombra más intensa al hacer hover */
}

/* Estilo para el cuerpo de la tarjeta que no se moverá */
.card-body.no-hover {
    background-color: #f8f9fa; /* Color más claro para diferenciar */
    cursor: default; /* Cambia el cursor a uno normal */
}

.card.no-hover {
    pointer-events: none; /* Desactiva todos los eventos de puntero */
    background-color: #f8f9fa; /* Color de fondo más claro para diferenciar */
    cursor: default; /* Cambia el cursor a uno normal */
}

.card.no-hover:hover {
    transform: none; /* Asegúrate de que no se aplique ninguna transformación */
    box-shadow: none; /* Asegúrate de que no se aplique ninguna sombra */
}

/* Efecto de selección */
.selected {
    background-color: rgba(239, 5, 184, 0.7); /* Color de fondo para la tarjeta seleccionada */
    color: white; /* Para que el texto sea visible */
    border-left: 5px solid #ef05b8; /* Resalte lateral */
}

/* Estilos para títulos y texto en tarjetas */
.card-title {
    font-weight: 600;
    font-size: 1.5rem; /* Tamaño de fuente para el título de la tarjeta */
}

.card-text {
    margin-bottom: 0; /* Evita márgenes innecesarios */
    font-size: 1rem; 
    color: #666; 
}

/* Hover para filas de tablas (si se usan) */
.table-hover tbody tr:hover {
    background-color: rgba(239, 5, 184, 0.5); /* Color de fondo en hover */
}

/* Botones personalizados */
.btn-custom {
    background-color: #ef05b8;
    color: white;
}

.btn-custom:hover {
    background-color: #d4009f; /* Color más oscuro al pasar el mouse */
}

/* Animaciones suaves en los botones */
.btn {
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    transform: translateY(-2px); /* Efecto de elevación al pasar el mouse sobre el botón */
}

/* Estilo del boton HCE */
.btn-hce {
    background-color: #7c09f0; /* Color de fondo */
    color: white; /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    transition: box-shadow 0.3s ease, background-color 0.3s ease; /* Transición suave para la sombra y el color de fondo */
    text-decoration: none; /* Asegúrate de que no haya subrayado */
}

.btn-hce:hover {
    box-shadow: 0 0 20px rgba(138, 35, 249, 0.8); /* Resplandor al hacer hover */
    background-color: #7c09d0; /* Cambia a un tono más oscuro o diferente si deseas un cambio sutil en el fondo */
}

/* Anular estilos de Bootstrap para enlaces */
.btn-hce:hover,
.btn-hce:focus {
    color: white !important; /* Mantener el color del texto en blanco */
    text-decoration: none !important; /* Asegúrate de que no haya subrayado */
}
/* Estilo del modal personalizado */
.animated-modal {
    animation: bounceIn 0.5s; /* Efecto de entrada */
}

.custom-title {
    font-size: 24px;
    font-weight: bold;
}

.custom-content {
    font-size: 16px;
}

/* Animaciones */
@keyframes bounceIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    
    to {
        transform: scale(1);
        opacity: 1;
    }
}